.search-rooms-container
{
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: end;
  background-color: white;
}

.search-rooms-input
{
  flex: 1;
  border: 0;
  padding: 10px;
  outline: none;
  color: gray;
  background-color: transparent;
}

.search-rooms-input::placeholder
{
  color: gray;
}

.search-rooms-container > i
{
  color: black;
  margin-right: 15px;
}


@media (min-width: 425px)
{
  .search-rooms-container
  {
    max-width: 440px;
    border-radius: 4px;
  }

  .search-rooms-input
  {
    background-color: white;
    border-radius: 4px;
    color: var(--text-color) ;
  }

  .search-rooms-input
  {
    max-width: 400px;
  }
}