.send-message-container
{
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.send-message-input
{
  border: 0;
  padding: .9rem;
  background-color: gray;
  border-radius: 5px;
  flex: 1;
}

.send-message-input::placeholder
{
  color: rgb(196, 195, 195);
}

.send-message-input:hover
{
  cursor: pointer;
}

.send-message-input:focus
{
  border: 0px solid black;
  outline: none;
}

.send-message-button
{
  padding: 5px;
  background-color: rgba(0, 194, 0, 0.823);
  border: 0;
  border-radius: 5px;
  width: 50px;
}

.send-message-button:hover
{
  cursor: pointer;
}

.send-message-icon
{
  width: 30px;
}
