.chatroom-container
{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chatroom-info
{
  background-color: rgba(128, 128, 128, 0.62);
  padding: 1rem;
  display: flex;
  min-height: 37px;
  gap: 2rem;
}

.back-link
{
  width: 30px;
  padding: 6px;
  border-radius: 100%;
  display: flex;
}

.back-link:hover
{
  background-color: gray;
}

.back-link img
{
  width: 30px;
}

.chatroom-messages
{
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  overflow-y: auto;
  flex: 1;
  scrollbar-width: thin;
  scrollbar-color: white rgba(0, 0, 0, 0.729);
}


@media (min-width: 768px)
{
  .chatroom-messages
  {
    padding: 1rem;
  }
}

/* Line-with-message */
.line-with-message {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.line-with-message::before,
.line-with-message::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid white;
}

.line-with-message:not(:empty)::before {
  margin-right: 0.25em;
}

.line-with-message:not(:empty)::after {
  margin-left: 0.25em;
}

.line-with-message {
  padding: 0 10px;
}
