.chatroom-container
{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chatroom-info
{
  background-color: var(--secondary-background-color);
  padding: 1rem;
  display: flex;
  min-height: 37px;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatroom-info > i.leave
{
  font-size: larger;
}

.back-icon
{
  padding: 8px;
  border-radius: 100%;
  display: flex;
  font-size: large;
}

.back-icon:hover
{
  background-color: gray;
  transition: 190ms;
}

.chatroom-messages
{
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .1rem;
  overflow-y: auto;
  flex: 1;
  scrollbar-width: thin;
  scrollbar-color: white rgba(0, 0, 0, 0.729);
}


@media (min-width: 768px)
{
  .chatroom-messages
  {
    padding: 1rem;
  }
}

/* Line-with-message */
.line-with-message {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.line-with-message::before,
.line-with-message::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid white;
}

.line-with-message:not(:empty)::before {
  margin-right: 0.25em;
}

.line-with-message:not(:empty)::after {
  margin-left: 0.25em;
}

.line-with-message {
  padding: 0 10px;
}
