.chatroom-container
{
  width: 300px;
  background-color: rgba(0, 0, 0, 0.729);
  flex: 1;
}

.chatroom-info
{
  background-color: rgba(128, 128, 128, 0.62);
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

.back-link
{
  width: 30px;
  padding: 6px;
  border-radius: 100%;
  display: flex;
}

.back-link:hover
{
  background-color: gray;
}

.back-link img
{
  width: 30px;
}

.chatroom-messages
{
  padding: 2rem;
}
