.message-container
{
  display: flex;
  gap: .5rem;
}

.message-container p {
  font-size: small;
}

.username
{
  font-weight: 600;
}

.message
{
  background-color: gray;
  padding: .7rem;
  border-radius: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.user-img
{
  border: 1px solid white;
  border-radius: 50%;
  padding: 3px;
  max-height: 30px;
}

.message-content-container
{
  display: flex;
  gap: 1rem;
  align-items: end;
}

.message-content-container > .message-content
{
  overflow-wrap: break-word;
  max-width: 44vw;
}
