.room-search-result
{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.room-search-result div
{
  color: gray;
}

.room-search-content
{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.room-search-content > .created-at
{
  font-size: x-small;
}

i.join
{
  color: var(--secondary-color);
}

i.talk
{
  color: var(--primary-color);
}

i.leave
{
  color: var(--accent-color);
}

.room-search-actions > i
{
  font-size: larger;
}
