.app
{
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.729);

}

.main-content
{
  max-height: 91.7vh;
  display: flex;
  flex: 1;
}