* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: sans-serif;

}

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --text-color: #333333;
  --background-color: #000000ba;
  --secondary-background-color: rgba(128, 128, 128, 0.478);
}


a
{
  text-decoration: none;
}

i:hover
{
  transition: 190ms;
  cursor: pointer;
  color: white;
}